[Unit]
Description=Refresh ipsets

[Timer]
OnCalendar={{ iptables_ipset_refresh_timer_on_calendar }}
RandomizedDelaySec={{ iptables_ipset_refresh_timer_randomized_delay_sec }}
Persistent=true

[Install]
WantedBy=timers.target
