[Unit]
Description=Iptables rules
DefaultDependencies=no
Wants=systemd-modules-load.service local-fs.target network-pre.target
{% for service in iptables_systemd_other_services_override %}
Wants={{ service }}.service
{% endfor %}
Before=network-pre.target
After=systemd-modules-load.service local-fs.target
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/iptables-start
ExecStop=/usr/local/sbin/iptables-stop

[Install]
WantedBy=multi-user.target
