[Unit]
Description=Initializes iptables rules
After=network-online.target
Before=fail2ban.service
Wants=fail2ban.service

[Service]
Type=oneshot
ExecStart=/etc/iptables/iptables-start.sh
ExecStop=/etc/iptables/iptables-stop.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
