[Unit]
Description=Initializes iptables rules
After=network-online.target

[Service]
Type=oneshot
ExecStart=/etc/iptables/iptables-start.sh
ExecStop=/etc/iptables/iptables-stop.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
