#!/bin/bash

echo -e "*filter"
echo -e ":INPUT DROP"
echo -e ":FORWARD DROP"
{% if iptables_policy_o_accept|default(false) %}
echo -e ":OUTPUT ACCEPT"
{% else %}
echo -e ":OUTPUT DROP"
{% endif %}
