[Unit]
Description=Initializes iptables rules
DefaultDependencies=no
Before=network-pre.target fail2ban.service libvirtd.service
Wants=network-pre.target fail2ban.service libvirtd.service
Wants=systemd-modules-load.service local-fs.target
After=systemd-modules-load.service local-fs.target
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/iptables-start
ExecStop=/usr/sbin/iptables-stop

[Install]
WantedBy=multi-user.target
