#!/bin/bash

##### iptables rules configuration file #####


## General options

# Script options
PATH=/sbin:/usr/sbin:/bin:/usr/bin

# Debugging (verbosity: 0=off, 1=debug, 2=debugrules)
DEBUG="{{ iptables_debug }}"

# Logging of DROP/REJECT (verbosity: 0=off, 1=out-only, 2=out/fw, 3=in/out/fw, 4=all (incl. casts
LOG_LEVEL="{{ iptables_log_level }}"

# Logging options (`--log-prefix` always required as last option)
LOG_OPTS="{{ iptables_log_opts }}"

## Interface config

# TODO: Deactivated code (for internal/external interfaces)

# Bridged interfaces
if_br="{{ iptables_allow_bridge_interfaces }}"

# Tun/Tap interfaces
if_tuntap="{{ iptables_allow_tuntap_interfaces }}"

# Accept forwarded traffic from physical interfaces (physdev-in)
if_physdev_in="{{ iptables_allow_physdev_in_interfaces }}"

# Accept all traffic on specific interfaces
if_accept="{{ iptables_allow_interfaces }}"

# Accept DHCPv6 traffic with link-local destination
allow_dhcpv6="{{ iptables_allow_dhcpv6 | ternary('true', 'false') }}"

# Configure IPv4 SNAT (source network address translation)
snat_ipv4="{{ iptables_snat_ipv4 }}"
snat_out_if="{{ iptables_snat_out_interface }}"
snat_src_net="{{ iptables_snat_source_network }}"

# Network list (do not include special networks `prv`, `prvcan`, `any`)
nets="{{ iptables_nets }}"

# Network address hashtable
declare -A net
# Allowed ports hashtable
declare -A port
# NAT hashtable
declare -A nat
# Rate limit hashtable
declare -A lim
# Rate limit as hashtable
declare -A lim_as
# Logging limit hashtable
declare -A log

# Log levels defaults
log_lvl_output="{{ iptables_log_lvl_output }}"
log_lvl_forward="{{ iptables_log_lvl_forward }}"
log_lvl_input="{{ iptables_log_lvl_input }}"
log_lvl_special="{{ iptables_log_lvl_special }}"
log_lvl_ban_ssh="{{ iptables_log_lvl_ban_ssh }}"

# Log levels (logged when: main log_level > individual level defined here)
log[o_deny_lvl]="{{ iptables_log_o_deny_lvl }}"
log[f_deny_lvl]="{{ iptables_log_f_deny_lvl }}"
log[i_deny_lvl]="{{ iptables_log_i_deny_lvl }}"
log[o_invalid_lvl]="{{ iptables_log_o_invalid_lvl }}"
log[f_invalid_lvl]="{{ iptables_log_f_invalid_lvl }}"
log[i_invalid_lvl]="{{ iptables_log_i_invalid_lvl }}"
log[i_lim_ssh_can_lvl]="{{ iptables_log_i_lim_ssh_can_lvl }}"
log[i_lim_ssh_any_lvl]="{{ iptables_log_i_lim_ssh_any_lvl }}"
log[i_ban_ssh_can_lvl]="{{ iptables_log_i_ban_ssh_can_lvl }}"
log[i_ban_ssh_any_lvl]="{{ iptables_log_i_ban_ssh_any_lvl }}"
log[f_any_s_prv_lvl]="{{ iptables_log_f_any_s_prv_lvl }}"
log[i_any_s_prv_lvl]="{{ iptables_log_i_any_s_prv_lvl }}"
log[i_bcast_lvl]="{{ iptables_log_i_bcast_lvl }}"
log[i_mcast_lvl]="{{ iptables_log_i_mcast_lvl }}"
log[i_acast_lvl]="{{ iptables_log_i_acast_lvl }}"

# Limit rules defaults
log_limit="{{ iptables_log_limit }}"
log_burst="{{ iptables_log_burst }}"

# Logging limits
log[o_deny_limit]="{{ iptables_log_o_deny_limit }}"
log[o_deny_burst]="{{ iptables_log_o_deny_burst }}"
log[f_deny_limit]="{{ iptables_log_f_deny_limit }}"
log[f_deny_burst]="{{ iptables_log_f_deny_burst }}"
log[i_deny_limit]="{{ iptables_log_i_deny_limit }}"
log[i_deny_burst]="{{ iptables_log_i_deny_burst }}"
log[o_invalid_limit]="{{ iptables_log_o_invalid_limit }}"
log[o_invalid_burst]="{{ iptables_log_o_invalid_burst }}"
log[f_invalid_limit]="{{ iptables_log_f_invalid_limit }}"
log[f_invalid_burst]="{{ iptables_log_f_invalid_burst }}"
log[i_invalid_limit]="{{ iptables_log_i_invalid_limit }}"
log[i_invalid_burst]="{{ iptables_log_i_invalid_burst }}"
log[i_lim_ssh_limit]="{{ iptables_log_i_lim_ssh_limit }}"
log[i_lim_ssh_burst]="{{ iptables_log_i_lim_ssh_burst }}"
log[i_ban_ssh_limit]="{{ iptables_log_i_ban_ssh_limit }}"
log[i_ban_ssh_burst]="{{ iptables_log_i_ban_ssh_burst }}"
log[f_any_s_prv_limit]="{{ iptables_log_f_any_s_prv_limit }}"
log[f_any_s_prv_burst]="{{ iptables_log_f_any_s_prv_burst }}"
log[i_any_s_prv_limit]="{{ iptables_log_i_any_s_prv_limit }}"
log[i_any_s_prv_burst]="{{ iptables_log_i_any_s_prv_burst }}"
log[i_bcast_limit]="{{ iptables_log_i_bcast_limit }}"
log[i_bcast_burst]="{{ iptables_log_i_bcast_burst }}"
log[i_mcast_limit]="{{ iptables_log_i_mcast_limit }}"
log[i_mcast_burst]="{{ iptables_log_i_mcast_burst }}"
log[i_acast_limit]="{{ iptables_log_i_acast_limit }}"
log[i_acast_burst]="{{ iptables_log_i_acast_burst }}"

# Enable unidirectional stateful filtering, allows all outbound (true/false)
allow_o_any="{{ iptables_allow_o_any | ternary('true', 'false') }}"

# Enable IP spoofing protection for private address ranges
deny_i_prv="{{ iptables_deny_i_prv | ternary('true', 'false') }}"

# Enable deny target DROP, default is: REJECT (true/false)
deny_target_drop="{{ iptables_deny_target_drop | ternary('true', 'false') }}"

# Enable rate limits, default is: enabled (1/"")
lim[on]="{{ iptables_lim_on | ternary('1', '') }}"
lim[ports]="{{ iptables_lim_ports }}"
lim[nets]="{{ iptables_lim_nets }}"
lim[nets_exclude]="{{ iptables_lim_nets_exclude }}"
lim[ssh_can_on]="{{ iptables_lim_ssh_can_on | ternary('1', '') }}"
lim[ssh_any_on]="{{ iptables_lim_ssh_any_on | ternary('1', '') }}"
lim[ssh_can_secs]="{{ iptables_lim_ssh_can_secs }}"
lim[ssh_can_hits]="{{ iptables_lim_ssh_can_hits }}"
lim[ssh_can_time]="{{ iptables_lim_ssh_can_time }}"
lim[ssh_any_secs]="{{ iptables_lim_ssh_any_secs }}"
lim[ssh_any_hits]="{{ iptables_lim_ssh_any_hits }}"
lim[ssh_any_time]="{{ iptables_lim_ssh_any_time }}"

# Enable AS rate limits
lim_as[on]="{{ iptables_lim_as_on | ternary('1', '') }}"
# Enable AS rate limits (UDP)
lim_as[udp_on]="{{ iptables_lim_as_udp_on | ternary('1', '') }}"
# Server to fetch AS subnets (`proto://server:[port]`)
lim_as[server]="{{ iptables_lim_as_server }}"
# List of ASNs to limit with or without `AS` prefix
lim_as[list]="{{ iptables_lim_as_list | join(' ') }}"
# List of ports or leave empty to limit all ports
lim_as[ports]="{{ iptables_lim_as_ports }}"
# Maximum average rate[/second|/minute|/hour|/day]
lim_as[rate]="{{ iptables_lim_as_rate }}"
# Maximum initial number of packets to match
lim_as[burst]="{{ iptables_lim_as_burst }}"
# Enable per-IP rate limits within AS rate limiting
lim_as[ip_on]="{{ iptables_lim_as_ip_on | ternary('1', '') }}"
# Per-IP rate [/second|/minute|/hour|/day]
lim_as[ip_rate]="{{ iptables_lim_as_ip_rate }}"
# Per-IP burst
lim_as[ip_burst]="{{ iptables_lim_as_ip_burst }}"


### Networks (in CIDR notation)

## Admin network: adm
# Ansible variables
net4_adm_default="{{ iptables_net4_adm_default }}"
net6_adm_default="{{ iptables_net6_adm_default }}"
net4_adm_custom="{{ iptables_net4_adm_custom.values()|sort|join(" ") }}"
net6_adm_custom="{{ iptables_net6_adm_custom.values()|sort|join(" ") }}"
# Script variables
net[adm4]="${net4_adm_default} ${net4_adm_custom}"
net[adm6]="${net6_adm_default} ${net6_adm_custom}"

## Private networks (not routed in internet): prv, prvcan
# Private IPv4 address spaces (RFC 1918)
net[prv4]="10.0.0.0/8 172.16.0.0/12 192.168.0.0/16"
# Unique local IPv6 address spaces (RFC 4193)
net[prv6]="fc00::/7"
# Ansible variables
net4_prvcan_default="{{ iptables_net4_prvcan_default }}"
net6_prvcan_default="{{ iptables_net6_prvcan_default }}"
net4_prvcan_custom="{{ iptables_net4_prvcan_custom.values()|sort|join(" ") }}"
net6_prvcan_custom="{{ iptables_net6_prvcan_custom.values()|sort|join(" ") }}"
# Script variables
net[prvcan4]="${net4_prvcan_default} ${net4_prvcan_custom}"
net[prvcan6]="${net6_prvcan_default} ${net6_prvcan_custom}"

## System/storage area network: san
# Ansible variables
net4_san_default="{{ iptables_net4_san_default }}"
net6_san_default="{{ iptables_net6_san_default }}"
net4_san_custom="{{ iptables_net4_san_custom.values()|sort|join(" ") }}"
net6_san_custom="{{ iptables_net6_san_custom.values()|sort|join(" ") }}"
# Script variables
net[san4]="${net4_san_default} ${net4_san_custom}"
net[san6]="${net6_san_default} ${net6_san_custom}"

## Server network: srv
# Ansible variables
net4_srv_default="{{ iptables_net4_srv_default }}"
net6_srv_default="{{ iptables_net6_srv_default }}"
net4_srv_custom="{{ iptables_net4_srv_custom.values()|sort|join(" ") }}"
net6_srv_custom="{{ iptables_net6_srv_custom.values()|sort|join(" ") }}"
# Script variables
net[srv4]="${net4_srv_default} ${net4_srv_custom}"
net[srv6]="${net6_srv_default} ${net6_srv_custom}"

## Local area network: lan
# Ansible variables
net4_lan_default="{{ iptables_net4_lan_default }}"
net6_lan_default="{{ iptables_net6_lan_default }}"
net4_lan_custom="{{ iptables_net4_lan_custom.values()|sort|join(" ") }}"
net6_lan_custom="{{ iptables_net6_lan_custom.values()|sort|join(" ") }}"
# Script variables
net[lan4]="${net4_lan_default} ${net4_lan_custom}"
net[lan6]="${net6_lan_default} ${net6_lan_custom}"

## Campus/corporate area network: can
# Ansible variables
net4_can_default="{{ iptables_net4_can_default }}"
net6_can_default="{{ iptables_net6_can_default }}"
net4_can_custom="{{ iptables_net4_can_custom.values()|sort|join(" ") }}"
net6_can_custom="{{ iptables_net6_can_custom.values()|sort|join(" ") }}"
# Script variables
net[can4]="${net4_can_default} ${net4_can_custom}"
net[can6]="${net6_can_default} ${net6_can_custom}"

## Custom network: cun
# Ansible variables
net4_cun_default="{{ iptables_net4_cun_default }}"
net6_cun_default="{{ iptables_net6_cun_default }}"
net4_cun_custom="{{ iptables_net4_cun_custom.values()|sort|join(" ") }}"
net6_cun_custom="{{ iptables_net6_cun_custom.values()|sort|join(" ") }}"
# Script variables
net[cun4]="${net4_cun_default} ${net4_cun_custom}"
net[cun6]="${net6_cun_default} ${net6_cun_custom}"


#### Open Ports

### Network adm (admins)
## Inbound
port[i_tcp_adm]="{{ iptables_i_tcp_adm }}"
port[i_udp_adm]="{{ iptables_i_udp_adm }}"
## Outbound
port[o_tcp_adm]="{{ iptables_o_tcp_adm }}"
port[o_udp_adm]="{{ iptables_o_udp_adm }}"
## Forward
# format: "interface_dstip_dstport"
port[f_tcp_adm]="{{ iptables_f_tcp_adm }}"
port[f_udp_adm]="{{ iptables_f_udp_adm }}"

### Network san (system)
## Inbound
port[i_tcp_san]="{{ iptables_i_tcp_san }}"
port[i_udp_san]="{{ iptables_i_udp_san }}"
## Outbound
port[o_tcp_san]="{{ iptables_o_tcp_san }}"
port[o_udp_san]="{{ iptables_o_udp_san }}"
## Forward
# format: "interface_dstip_dstport"
port[f_tcp_san]="{{ iptables_f_tcp_san }}"
port[f_udp_san]="{{ iptables_f_udp_san }}"

### Network srv (server)
## Inbound
port[i_tcp_srv]="{{ iptables_i_tcp_srv }}"
port[i_udp_srv]="{{ iptables_i_udp_srv }}"
## Outbound
port[o_tcp_srv]="{{ iptables_o_tcp_srv }}"
port[o_udp_srv]="{{ iptables_o_udp_srv }}"
## Forward
# format: "interface_dstip_dstport"
port[f_tcp_srv]="{{ iptables_f_tcp_srv }}"
port[f_udp_srv]="{{ iptables_f_udp_srv }}"

### Network lan (department)
## Inbound
port[i_tcp_lan]="{{ iptables_i_tcp_lan }}"
port[i_udp_lan]="{{ iptables_i_udp_lan }}"
## Outbound
port[o_tcp_lan]="{{ iptables_o_tcp_lan }}"
port[o_udp_lan]="{{ iptables_o_udp_lan }}"
## Forward
# format: "interface_dstip_dstport"
port[f_tcp_lan]="{{ iptables_f_tcp_lan }}"
port[f_udp_lan]="{{ iptables_f_udp_lan }}"

### Network can (campus)
## Inbound
port[i_tcp_can]="{{ iptables_i_tcp_can }}"
port[i_udp_can]="{{ iptables_i_udp_can }}"
## Outbound
port[o_tcp_can]="{{ iptables_o_tcp_can }}"
port[o_udp_can]="{{ iptables_o_udp_can }}"
## Forward
# format: "interface_dstip_dstport"
port[f_tcp_can]="{{ iptables_f_tcp_can }}"
port[f_udp_can]="{{ iptables_f_udp_can }}"

### Network cun (custom)
## Inbound
port[i_tcp_cun]="{{ iptables_i_tcp_cun }}"
port[i_udp_cun]="{{ iptables_i_udp_cun }}"
## Outbound
port[o_tcp_cun]="{{ iptables_o_tcp_cun }}"
port[o_udp_cun]="{{ iptables_o_udp_cun }}"
## Forward
# format: "interface_dstip_dstport"
port[f_tcp_cun]="{{ iptables_f_tcp_cun }}"
port[f_udp_cun]="{{ iptables_f_udp_cun }}"

### Network any (internet)
## Inbound
port[i_tcp_any]="{{ iptables_i_tcp_any }}"
port[i_udp_any]="{{ iptables_i_udp_any }}"
## Outbound
port[o_tcp_any]="{{ iptables_o_tcp_any }}"
port[o_udp_any]="{{ iptables_o_udp_any }}"
## Forward
# format: "interface_dstip_dstport"
port[f_tcp_any]="{{ iptables_f_tcp_any }}"
port[f_udp_any]="{{ iptables_f_udp_any }}"

#### Port forwards
# format: "interface_port_dstip_dstport"
nat[4_f_tcp]="{{ iptables_nat4_f_tcp }}"
nat[4_f_udp]="{{ iptables_nat4_f_udp }}"


#### Special endpoints (for single networks or hosts)

# Custom networks name list (format: whitespace separated)
# Example: cnets="net1 host1"
cnets="{{ iptables_endpoints.keys() | join(" ") }}"

# Custom network addresses (key format: `<name>_[4|6]`, value format: `address[/mask][,...]`)
declare -A cnet
# Custom ports (key format: `<name>_[i|o]_[tcp|udp]`, value format: whitespace separated)
declare -A cport

# Custom endpoints
{% for name, endpoint in iptables_endpoints.items() %}
{% for version in ['4', '6'] %}
{% if endpoint.address['ipv' + version] | default(None) %}
cnet[{{ name }}_{{ version }}]="{{ endpoint.address['ipv' + version] }}"
{% endif %}
{% endfor %}
{% for direction in ['inbound', 'outbound'] %}
{% for protocol in ['tcp', 'udp'] %}
{% if endpoint.ports[direction][protocol] | default(None) %}
cport[{{ name }}_{{ direction | first() }}_{{ protocol }}]="{{ endpoint.ports[direction][protocol] }}"
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
